/* imagem de capa de canto redondo */
.card-image,
.card-placeholder-wrapper,
.card-image-content-wrapper,
.GlueCard:not(.GlueCard--artist) .GlueCard__image,
.GlueCard:not(.GlueCard--artist) .GlueCard__image-wrapper,
.Card:not(.Card--artist) .Card__image,
.Card:not(.Card--artist) .Card__image-wrapper {
	border-radius: 10px !important;
	overflow: hidden !important
}

/* oculta alguns elementos irritantes, como nome e foto do perfil, botão
de atualização e barra de conexão do dispositivo na parte inferior, botão
de nova lista de reprodução */
.profile.content-top-bar__profile-link,
.upgrade-button,
.view-player .remote-playback-bar,
.NewPlaylistButton {
	display: none !important;
}

/* força a barra do player a ter uma altura fixa */
body.remotebar .view-player .player-bar-wrapper {
	height: 87px !important;
}

/* exluir esses elementos da propriedade arrastável porque isso impede
que sejam clicáveis */
.profile-items-container,
.profile
 {
	-webkit-app-region: no-drag !important;
}

/* barra de scroll mais fina */
::-webkit-scrollbar {
	display: none;
}

/* barra de scroll de canto redondo */
::-webkit-scrollbar-thumb {
	border-radius: 3px !important;
}

/* oculta os botões superior e inferior da barra de rolagem */
::-webkit-scrollbar-button {
	display: none !important;
}

/* oculta a sobreposição de imagem de capa */
.card-overlay {
	visibility: hidden !important;
}

/* levanta o cover ao cursor estar sobre ela */
.card-image-content-wrapper,
.GlueCard__image-wrapper,
.Card:not(.Card--artist) .Card__image-wrapper {
	transition-property: transform box-shadow !important;
	transition-duration: 1s !important;
	transition-timing-function: cubic-bezier(.3,0,0,1) !important;
	box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}

.card-image-hit-area:not(.no-hover):hover .card-image-content-wrapper,
.GlueCard__image-hit-area-counter-scale:hover .GlueCard__image-wrapper,
.Card:not(.Card--artist) .Card__image-hit-area-counter-scale:hover .Card__image-wrapper {
	transform: translateY(-10px);
	box-shadow: 0 15px 20px rgba(0,0,0,0.2);
}

.card-image-hit-area .card-button-add,
.card-image-hit-area .card-button-play,
.card-image-hit-area .card-button-more,
.GlueCard__image-hit-area .card-button-add,
.GlueCard__image-hit-area .card-button-play,
.GlueCard__image-hit-area .card-button-more,
.GlueCard__image-hit-area .GlueCard__play-button,
.GlueCard__image-hit-area .GlueCard__add-button,
.GlueCard__image-hit-area .GlueCard__more-button,
.GlueCard__image-hit-area .GlueCard__overlay,
.Card__image-hit-area .card-button-add,
.Card__image-hit-area .card-button-play,
.Card__image-hit-area .card-button-more,
.Card__image-hit-area .Card__play-button,
.Card__image-hit-area .Card__add-button,
.Card__image-hit-area .Card__more-button,
.Card__image-hit-area .Card__overlay  {
	transition-property: all !important;
	transition-duration: 1s !important;
	transition-timing-function: cubic-bezier(.3,0,0,1) !important;
	opacity: 0 !important;
}

.card-image-hit-area:not(.no-hover):hover .card-button-add,
.card-image-hit-area:not(.no-hover):hover .card-button-play,
.card-image-hit-area:not(.no-hover):hover .card-button-more,
.GlueCard__image-hit-area:not(.no-hover):hover .card-button-add,
.GlueCard__image-hit-area:not(.no-hover):hover .card-button-play,
.GlueCard__image-hit-area:not(.no-hover):hover .card-button-more,
.Card__image-hit-area:not(.no-hover):hover .card-button-add,
.Card__image-hit-area:not(.no-hover):hover .card-button-play,
.Card__image-hit-area:not(.no-hover):hover .card-button-more {
	opacity: 1 !important;
	transform: translateY(-10px);
}

.GlueCard__image-hit-area:hover .GlueCard__play-button,
.GlueCard__image-hit-area:hover .GlueCard__add-button,
.GlueCard__image-hit-area:hover .GlueCard__more-button,
.GlueCard__image-hit-area:hover .GlueCard__overlay,
.Card__image-hit-area:hover .Card__play-button,
.Card__image-hit-area:hover .Card__add-button,
.Card__image-hit-area:hover .Card__more-button,
.Card__image-hit-area:hover .Card__overlay {
	opacity: 1 !important;
}

.card-placeholder-wrapper {
	background: transparent !important;
}

/* incrementa o background da entrada de pesquisa */
.SearchInput__input {
	color: var(--modspotify_secondary_fg);
	background-color: rgba(var(--modspotify_rgb_scrollbar_fg_and_selected_row_bg), 0.5) !important;
}

/* altura da barra do player corrigida e adição de sombra legal abaixo */
.view-player {
	height: 87px !important;
	box-shadow: 0 -10px 30px rgba(0,0,0,0.15) !important;
}

/* aumenta a imagem da capa na barra do player e mude um pouco de posição, também
preenchendo uma inclinação de artista para corrigir a posição */
.view-player .now-playing,
.view-player .now-playing-container,
.view-player .now-playing .cover-image-container {
	height: 100% !important;
	overflow: visible !important;
}

.view-player .now-playing .cover-image-container {
	position: absolute !important;
	overflow: visible !important;
	bottom: 20px !important;
	left: -42px !important;
}

.view-player .now-playing .cover-image-container .cover-image {
	width: 85px !important;
	height: 85px !important;
	position: absolute !important;
	background-size: cover !important;
}

.view-player .now-playing-container .caption {
	height: 100% !important;
	align-content: center !important;
	padding-left: 30px !important;
}

@media (min-width: 1200px){
	.view-player .now-playing-container {
		min-width: 500px;
	}
}


.view-player .now-playing-container {
	z-index: 9998 !important;
}

/* minimiza a barra lateral esquerda e expande ao passar o
mouse na borda esquerda da janela */
/* #menu-wrapper {
	position: absolute !important;
	z-index: 9999 !important;
	display: flex !important;
	height: 100% !important;
} */

/* .sidebar {
	min-width: 15px !important;
	width: 15px !important;
	transition-duration: .5s !important;
	transition-timing-function: cubic-bezier(.3,0,0,1) !important;
	opacity: 0;
} */

/* largura da barra lateral expandida */
/* .sidebar:hover {
	width: 200px !important;
	opacity: 1;
}

.sidebar .sidebar-navbar.sidebar-scroll-element {
	padding-top: 30px !important;
	padding-bottom: 60px !important;
	opacity: 0 !important;
	transition-property: opacity !important;
	transition-duration: .5s !important;
	transition-timing-function: cubic-bezier(.3,0,0,1) !important;
} */

/* conteúdo da playlist */
#content {
	padding-bottom: 60px;
}

.sidebar:hover .sidebar-navbar.sidebar-scroll-element {
	opacity: 1!important;
}

.view-player .player-controls-container,
.view-player .player-controls-container .controls {
	overflow: visible !important;
}

.view-player .player-controls-container .controls .button-play{
	height:50px !important;
	border-radius:50px !important;
	background: transparent !important;
	width:50px !important;
	overflow: visible !important;
	box-shadow: 0 3px 15px rgba(0,0,0,0.15) !important;
	transition:none 0.3s cubic-bezier(.3,0,.7,1);
}

.view-player .player-controls-container .controls .button-play:before{
	font-size:18px !important;
	padding-left: 16px !important;
	padding-top: 9px !important;
}

.view-player .player-controls-container {
	position: absolute !important;
	width: 100% !important;
}

.view-player .player-controls-container .controls {
	width: 100% !important;
	height: 100%  !important;
	align-items: center !important;
	margin-top : 0px !important;
}

/* oculta a duração da música e o texto decorrido */
.view-player .player-controls-container .progress-container .elapsed,
.view-player .player-controls-container .progress-container .remaining {
	display: none !important;
}

/* move a barra de progresso para a parte inferior da janela */
.view-player .player-controls-container .progress-container {
	position: absolute !important;
	width: 100% !important;
	height: 100% !important;
	bottom: (-87/2px) !important;
	margin : 0 0 0 0 !important;
	z-index: 9999 !important;
}

.view-player .player-controls-container .progress-container .progress-bar {
	margin-top: -6px !important;
	top: 100% !important;
}

.view-player .player-controls-container .progress-container .progress-bar .inner {
	top: 100% !important;
	margin-top: -4px !important;
	border-radius: 0 2px 2px 0 !important;
	background-color: var(--modspotify_main_fg);
}

/* Add round corner for Gerne and Mood cards */
.gc-image-container,
.gc-image {
	border-radius: 10px !important;
}

/* a colagem de três capas de álbuns geralmente é vista em browse e chart */
.card-puff__image-wrapper,
.card-puff__info-container,
.card-puff__card-image {
	border-radius: 10px !important;
}

.card-puff__image-wrapper {
  overflow: visible;
}

.card-puff__card-image {
	box-shadow: 5px 0 20px rgba(0,0,0,0.3);
	overflow: visible;
}

.card-puff__title-container {
	background-color: rgba(0,0,0,0) !important;
	align-items: start !important;
}

.card-puff.pressed .card-puff__image-wrapper,
.card-puff.pressed .card-puff__info-container {
  opacity: 0.7 !important;
}

.card-puff__title {
	padding: 5px 10px 5px 10px !important;
	background-color: rgba(var(--modspotify_rgb_cover_overlay_and_shadow),0.8) !important;
	border-radius: 10px 10px 0 0 !important;
	text-align: left !important;
	width: 100% !important;
	margin: 0 20px !important;
}

.card-puff__card-image:nth-child(1) {
	right: 20px;
	box-shadow: 0 0 0 0 !important;
}

.card-puff__card-image:nth-child(3) {
	left: 20px;
}

.grid-overlay-label {
	top: 140px !important;
}

.glue-page-header__background-color {
	background-image: none !important;
	background: var(--modspotify_main_bg);
}

.glue-page-header__background-overlay {
	background-color: transparent !important;
}

.glue-page-header__sticky {
  	padding-top: 60px !important;
}

/* remove o título, a descrição desagradável e o número de
seguidores sem sentido */
.carousel .card-info-subtitle-description,
.carousel .card-info-subtitle-metadata,
.carousel .card:not(.card-type-station).card-info-title,
.carousel .card.card-type-playlist.image-loaded .card-info-subtitle-description,
.carousel .card.card-type-playlist.image-loaded .card-info-subtitle-metadata {
	display: none !important;
}


/* no topo do browse geralmente há vários cartões de lista de
reprodução ou álbum, e eles têm .carousel como invólucro e
esconde tudo o que transborda de sua zona, também conhecida
como nossa animação de sombra e elevação */
.carousel {
	overflow: visible !important;
}

/* botão com texto play */
.button.button-green,
.GlueButton.GlueButton--style-green {
	color: var(--modspotify_main_bg) !important;
}

/* alterar a cor do texto na playlist */
.tl-explicit .label,
.tl-premium .label,
.tl-cell:not(.tl-number),
.tl-cell a:link,
.tl-highlight {
  color: var(--modspotify_secondary_fg);
}

.card-type-album .card-info-title,
.card-type-track .card-info-title,
.card-type-collection-album .card-info-title,
.card-type-episode .card-info-title {
  	font-size: 15px;
  	font-weight: 900 !important;
	text-align: center !important;
	width: 100% !important;
}

.card-type-album .card-info-subtitle-links,
.card-type-track .card-info-subtitle-links,
.card-type-collection-album .card-info-subtitle-links,
.card-type-episode .card-info-subtitle-links {
	text-align: center !important;
	width: 100% !important;
}

.tracklist-station-container::after {
	background: transparent !important;
}

.GlueHeader__background-overlay {
	background: var(--modspotify_main_bg) !important;
}

/* move os botões de navegação e o campo de pesquisa para a direita e para baixo */
.browser-navigation-top-bar {
	margin-left: 40px !important;
	margin-top: 15px !important;
}

.SearchInput__input,
.SearchInput__searchIcon,
.SearchInput__clearButton {
	margin-top: 15px !important;
}

.content-top-bar__profile-menu-button {
	margin-top: 15px !important;
}

.body-container--windows:not(.with-buddy-list):not(.messagebar) .content-top-bar__profile {
	margin-right: 110px !important;
	margin-top: -5px;
}

/* incrementa o modo de tela cheia */
#view-player .album-art .album-art__image {
	border-radius: 30px !important;
	box-shadow: 0 10px 70px rgba(var(--modspotify_rgb_cover_overlay_and_shadow),.5) !important;
}

#view-player .album-art .album-art__image .card-image-content-wrapper,
#view-player .album-art .album-art__image .card-image-content-wrapper .card-image {
	border-radius: 30px !important;
}

/* mixes diários */
.carousel .card-info-wrapper.card-info-with-description.card-info-with-metadata {
	height: 50px !important;
}

/* remove o divisor de seção */
.section-divider {
	border-bottom: 0 !important;
}

/* ajuste a posição da guia ativa da borda na barra de navegação na parte
superior e adicione pouco efeito de brilhot */
.nav.navbar-nav {
	overflow: hidden !important;
}

.nav.navbar-nav a {
	overflow: visible !important;
}

.nav.navbar-nav a::after {
	bottom: 0px !important;
	width: 100% !important;
}

.nav.navbar-nav .active  a::after{
	box-shadow: 0 0px 20px !important;
}

.nav.navbar-nav a:focus:not(.button):active::after{
	background-color: var(--modspotify_pressing_fg) !important;
}

/* barra lateral do amigo */
#view-buddy-list {
	min-width: 15px !important;
	width: 15px !important;
	transition-property: all !important;
	transition-duration: .5s !important;
	transition-timing-function: cubic-bezier(.3,0,0,1) !important;
	opacity: 0;
}

#view-buddy-list:hover {
	width: 277px !important;
	opacity: 1;
}

.body-container--windows .buddy-list-iframe {
	height: 100% !important;
}

.with-buddy-list #view-buddy-list {
	position: absolute;
    right: 0px;
    display: flex;
    z-index: 999999;
    height: 100%;
}

/* barra de notificação */
#content-wrapper #view-message-bar {
	position: absolute !important;
	width: calc(100% - 160px) !important;
	margin-left: 80px !important;
	border-radius: 0 0 10px 10px !important;
}

/* mecanismo da cover pequena e cover grande */
.now-playing.cover-size-transition.active.image-expanded .cover-image {
    width: 10px !important;
	height: 10px !important;
}
.now-playing.cover-size-transition.active.image-expanded .caption {
	padding-left: 0px !important;
}
#view-now-playing a.image {
	overflow: visible !important;
}

#view-now-playing.expanded {
	width: 200px;
	height: 200px;
}

#now-playing-image-large .cover-image {
	height: 200px !important;
}

/* seta de perfil no canto superior esquerdo */
.content-top-bar__profile-menu-button .dropdown {
	position: fixed !important;
	right: 200px !important;
    top: 10px !important;
	-webkit-app-region: no-drag !important;
}

/* dica pequena */
#tooltip {
	box-shadow: 0 0 10px rgba(0,0,0,0.5) !important;
	border-radius: 5px !important;
}

.lyrics-lines-container,
.message-container {
	color: var(--modspotify_secondary_fg) !important;
}

/* página home */
.GlueCarousel__grid-wrapper::-webkit-scrollbar-thumb {
	display: none;
}

.GlueCard__info-wrapper,
.Card__info-wrapper {
	margin-bottom: 30px;
}

.card-horizontal-interior-wrapper .card-info-title {
	text-align: start !important;
}

.tl-row.selected:hover .tl-cell {
	background: var(--modspotify_scrollbar_fg_and_selected_row_bg) !important;
}

.GlueTableRow--is-selected {
	background-color: var(--modspotify_scrollbar_fg_and_selected_row_bg) !important;
}

.tracklist-podcast .tl-progress .row-progress__bar {
    background-color: var(--modspotify_main_fg);
}

.Header__background-color{
	background-color: var(--modspotify_main_bg) !important;
}

.Button--style-green {
	color: var(--modspotify_main_bg) !important;
}

/* exibe o botão utilizável para adicionar lista de reprodução */
.LeftSidebarNewPlaylistButton__button {
	padding: 0 168px !important;
	padding-right: 40px;
}

.LeftSidebarNewPlaylistButton__text {
	display: none !important;
}

.Card__info-title {
	font-weight: 600;
}

.view-player .player-controls-container .controls .button-play:after {
	box-shadow: 0 0 0 0 !important;
}

#nowplaying-track-link-container {
	font-weight: 600;
}

.artist {
	font-weight: 400;
}